@charset "utf-8";
html,body{height: 100%; }

/* header */
.hdWrap{
    width: 100%;
    height: 150px;
    border-bottom:1px solid #000;
    z-index: 10;
}
.hdWrap .hdTopWrap{
    border-bottom:1px solid #ddd;
}
.hdWrap .hdTopWrap .hdTop{
    width: 980px;
    height: 90px;
    margin: 0 auto;
    height: 90px;
    display: flex;justify-content: space-between;align-items: center;
}
.hdTop .search{position: relative;width: 300px;}
.hdTop .search p{
    position: absolute;
    left: 15px;line-height: 14px;font-weight: bold;
}

.hdTop .search .sTitle{
    position: absolute;
    top: 50%;transform: translateY(-50%);
    left: 15px;
}
.hdTop .search .icon i{
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    right: -25px;
    font-size: 15px;
    text-align: center;
}

.inp{
    width: 350px;height: 40px;text-indent: 90px;
    border: 2px solid #333;
    border-radius: 25px;
}


.hdTop .snsbox ul{width: 200px;}
.hdTop .snsbox ul li{float: left; margin-left: 10px; transition:0.3s}
.hdTop .snsbox ul li:hover{
    cursor: pointer;
    transform:scale(1.1);
}
.hdWrap .navbar{
    width: 980px;height: 60px;margin: 0 auto;
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
    display: flex;justify-content: space-between;
}
.hdWrap .navbar ul{
    width: 700px;
    display: flex;justify-content: space-between;align-items: center;
    margin: 0 25px;
}
.hdWrap .navbar ul li{
    width:calc( 100% / 6 );
    margin-right: 50px;

}
.hdWrap .navbar ul li a{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}
.hdWrap .navbar ul li a:hover{
    color: #5E2BB8;
    font-weight: bold;
}

.hdWrap .navbar .enter{
    display: flex;justify-content: space-between;align-items: center;
}
.hdWrap .navbar .enter a{
    font-size: 13px;
    margin-right: 25px;
    transition:0.3s
}
.hdWrap .navbar .enter a:hover{
    font-weight: bold;
}

/* section */
.contents{
    height: 1200px;
    background: url() no-repeat;
    background-size: cover;
}




















/* footer */
.footer{
    padding:15px 0;
    border-top:1px solid #ddd; }
.footer .ftWrap{
    height: 80px;
    z-index: 10;
}
.footer .ftWrap .ftTop{
    margin-bottom: 10px;
}
.footer .ftWrap .ftTop ul{
    display: flex;justify-content: space-between;align-items: center;
}
.footer .ftWrap .ftTop ul li a{
    font-size: 13px;
    color: #bbb;
}
.footer .ftWrap .ftAdd{
    font-size: 13px;
    color: #ccc;
    line-height: 20px;
}
.footer .ftWrap .ftAdd span{font-size: 12px;}



/* common */
.container{width: 980px; margin: 0 auto;}

