@charset "utf-8";
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
/*********** css resposive init ***********/
/* header */
html,body{height: 100%;}
.hdWrap{
    width: 100%;;background: rgba(0,0,0,.8);padding:0 10px;
    position: absolute;
    z-index: 999;
}
.header{
    margin: 0 auto;
    width: 1260px;height: 100%;
    display: flex;justify-content: space-between;align-items: center;
}
.header .logo{display: block;margin-top: 10px;}
.header .navbar{width: 900px;height: 100%;margin-left: auto;}
.header .menu{
    display: flex;justify-content: space-between;
    padding: 10px 10px 0 10px;
}
.menu>li{
    width: 100%;height:60px;
    display: flex;justify-content: flex-end;align-items: center;
}
.menu>li a{

    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: rgba(255,255,255,.4);
}
.menu>li .subWrap{
    width: 100%;
    height: 100px;
    position: absolute;
    top: 70px;left: 0;
    background: rgba(0,0,0,.8);
    display: none;
    padding: 40px 0;
    z-index: 999;
}
.menu>li .subWrap>ul{
    display: flex;
    width: 700px;
    margin-left: 50%;
}
.menu .subWrap{
    display: flex;position: relative;
    width: 1000px;
}
.menu .subWrap .submenuWrap{
    margin-left: 500px;
    display: flex;justify-content: center;align-items: center;
}
.menu>li .submenu{display: flex;}
.menu .subWrap .submenuWrap>.main_s{
    margin-right: 50px;
}

.menu>li .submenu>li{
    margin-left: 40px;
}
.menu>li .submenu a{
    color: rgba(255,255,255,.4);
    font-size: 14px;;
}
.menu>li:hover>a{
    color: white;
}
.menu>li:hover .subWrap{
    display: flex;justify-content: center;align-items: center;
}

.menu>li:hover .main_s>a{
    color: white;
    font-size: 22px;
}
.submenu>li:hover>a{
    color:white
}
.menu>li>a i{
    display: none;

}
.toggle{
    display: none;
    width: 40px;height: 40px;
    justify-content: center;
    align-items: center;
    
}
.toggle div{
    width: 24px;
    height: 3px;
    border-radius: 2px;
    background: #fff;
    display: flex;
    position: absolute;
}
.toggle div:first-child{
    transform: translateY(-8px);
}
.toggle div:last-child{
    transform: translateY(8px);
}

.navbarClone{display: none;}
.navbarClone .mMenu{display: none;}

/* visual */
#visual{
    width: 100%;
    overflow: hidden;
}
.swiper{
    width: 100%;
    height: 100%;
    position: relative;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-wrapper .slideItem{height:82vh}
  .swiper-slide{position: relative;overflow:hidden}
  .swiper-slide .video{
    height:82vh;
    position: absolute;left: 50%;
    transform: translateX(-50%);
  }

/* swiper pagenation 수정  */
.swiper-pagination {
    position: absolute;
    left: 0;
    top: 75%;
    text-align: center;
    -webkit-transition: .3s opacity;
    -o-transition: .3s opacity;
    transition: .3s opacity;
    -webkit-transform: translate3d(0,0,0);
    z-index: 10;
}
:root {
    --swiper-theme-color: #fff !important;
    --swiper-navigation-size: 44px !important; 
    --swiper-theme-color: #fff;
    --swiper-pagination-bullet-vertical-gap:30px;
    --swiper-pagination-bullet-width:40px;
    --swiper-pagination-bullet-height:3px;
}
.swiper-pagination .swiper-pagination-bullet-active {
    border-radius: 0;
}
.swiper-pagination .swiper-pagination-bullet {
    border-radius: 0; 
}
.swiper-horizontal > .swiper-pagination-bullets, 
.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: initial; 
}




.swiper-slide{
    position: relative;
    margin: 0 auto;
}

.swiper-slide .txtWrap{
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%,-60%);
    display: flex;justify-content: center;align-items: center;
    flex-direction: column;
}
.swiper-slide .txtWrap>p>span{display: none;}
.swiper-slide .txtWrap>p{
    font-size: 40px;
    color: white;
    margin-bottom: 20px;
    text-align: center;
}
.swiper-slide .txtWrap>p>span{display: none;}
.swiper-slide .txtWrap>img{
    width: 500px;
    height: 40px;
    object-fit: contain;
    display: block;
    margin-bottom: 20px;
}
.swiper-slide .txtWrap>a{
    width: 150px;
    font-size: 16px;
    font-weight: 800;
    border: 1px solid #fff;
    border-radius: 25px;
    line-height: 50px;
    color: white;
    text-align: center;
    transition: .3s;
}
.swiper-slide .txtWrap>a:hover{
    background: #05d685;
    border:1px solid #05d685;
}

/* sec01 boxmenu */
#section{
    width: 100%;
    position: relative;
    margin: 0 auto;
    margin-bottom: 50px;
    z-index: 99;
}
#section .mBoxmenutop{
    display: none;
    width: 500px;
    height: 200px;
    padding: 20px;
}
.mBoxmenutop h4{font-size: 45px;margin-bottom: 20px;text-align: center;}
.mBoxmenutop p{font-size: 16px;text-align: center;}
#section .secWrap{
    width: 1260px;
    position: relative;
    margin: 0 auto;
    margin-top: -130px;
}
.boxmenuWrap .boxmenu{
    display: flex;
}
.boxmenuWrap .boxmenu .icons{
    width: 315px;
    height: 315px;
    padding: 60px 20px;
    text-align: center;
    background: #fff;
}
.boxmenuWrap .boxmenu .icons img{
    margin-bottom: 10px;
    transition: .3s;
    margin: 0 auto;
    margin-bottom: 20px;
}
.boxmenuWrap .boxmenu .icons .iconsTxt>a{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;

}
.boxmenuWrap .boxmenu .icons:hover img{
    transform: scale(1.1);
}
.boxmenuWrap .boxmenu .icons .iconsTxt>p{
    font-size: 16px;
    text-align: center;
}

/* sec02 clovaDiv swiper*/
.clovaDiv{
    width: 1260px;
    display: flex;
}

.clovaDiv .clovaBg{   /*animation 효과 */
    width: 630px;
    height: 315px;
    background: #F1F3F6;
    backdrop-filter: blur(10px);
    display: flex;justify-content: center;align-items: center;
}

.clovaDiv .clovaBg h1{
    font-size: 60px;
    color: #05d685;
    font-weight: 900;
    display: block;
}
.clovaDiv .swiper{
    width: 630px;
    height: 315px;
    background: #F1F3F6;
}
.clovaDiv .swiper .swiper-slide{
    display: flex;justify-content: center; align-items: center;}
.clovaDiv .swiper .divTxt{
    width: 450px;
}
.clovaDiv .swiper .divTxt h2{
    font-size: 25px;
    margin-bottom: 10px;
}
.clovaDiv .swiper .divTxt p{
    font-size: 14px;
}







/*subsection*/
.subsection{
    width: 1260px;
    height: 630px;
}
.subsection .ssWrap{
    display: flex;
}
.subsection .ssWrap .subsec{
    width: 315px;height: 630px;
    
}
.subsection .ssWrap .subsec div{width: 315px;height: 315px;}
.subsection .ssWrap .subsec .imgBox{
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;justify-content: center; align-items: center;
}

.subsection .ssWrap .subsec:nth-child(2),
.subsection .ssWrap .subsec:nth-child(4){
    background: #F9F9F9;
}

.subsection .ssWrap .subsec:nth-child(1){
    background: #05d685;
}
.subsection .ssWrap .subsec:nth-child(3){
    background: #2973EC;
}
.subsection .ssWrap .subsec .txtbox{
    width: 315px;height: 315px;
    display: flex;justify-content: space-around;align-items: center;
    flex-direction: column;
    padding: 25px;
}
.subsection .ssWrap .subsec:nth-child(1) .txtbox,
.subsection .ssWrap .subsec:nth-child(3) .txtbox{
    color: white;
}
.subsection .ssWrap .subsec .txtbox h3{
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 40px;
}
.subsection .ssWrap .subsec .txtbox p{
    width: 230px;
    font-size: 16px;
}

/* vNews */
#vNews{
    width: 100%;
    background: #111;
    margin-bottom: 50px;
    
}
#vNews .newsWrap{
    width: 1260px;
    margin: 0 auto;
    padding: 70px 20px;
}

#vNews .newsWrap .news .newshd{
    width: 500px;
    display:flex;justify-content: center;align-items: center;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 50px;

}
#vNews .newsWrap .news .newshd h5{
    font-size: 48px;
    color: white;
    margin-bottom: 20px;
}
#vNews .newsWrap .news .newshd p{
    font-size: 22px;
    color: white;
    text-align: center;
}
#vNews .newsWrap .news .newsBox{
    display: flex;
}


#vNews .newsWrap .news .newsBox li{
    width: 400px ;
    margin-right: 30px;
    padding: 10px;
}
#vNews .newsWrap .news .newsBox li:last-child{
    margin-right: 0;
}
#vNews .newsWrap .news .newsBox li .txtTop{
    background: #fff;
    height: 165px;
    display: flex;justify-content: center;align-items: center;
    flex-direction: column;
    border-radius: 15px 15px 0 0;
}
#vNews .newsWrap .news .newsBox li .txtTop>a{
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
}
#vNews .newsWrap .news .newsBox li .txtTop>span{
    font-size: 20px;
}
#vNews .newsWrap .news .newsBox li .txtBtm{
    background: #efefef;
    height: 150px;
    display: flex;justify-content: space-between;align-items: center;
    flex-direction: column;
    border-radius: 0 0 15px 15px;
    padding: 30px;
}
#vNews .newsWrap .news .newsBox li .txtBtm>p{
    font-size: 15px;
    height: 100px;
}

#vNews .newsWrap .news .newsBox li:nth-child(2) .txtTop>span{
    color:#05d685;
    font-weight: 600;
}

/* vBlog */
#vBlog{
    margin-bottom: 50px;
}
.bWrap{
    width: 1260px;
    height: 630px;
    margin: 0 auto;
    display: flex;
}
.bWrap .bTitle {
    width: 315px;height: 630px;overflow: hidden;
    position: relative;
}
.bWrap .bTitle p{
    color: #fff;
    font-size: 36px;
    font-weight: 600;
    position: absolute;
    left: 20%;bottom: 10%;
}
.bWrap .bTitle p>span{
    font-size: 42px;
}

.bWrap .swiper{
    width: 945px;
    height: 630px;

}
.bWrap .swiper .swiper-wrapper .swiper-slide{
    width: 315px;height: 630px;
    display: flex;justify-content: space-between;align-items: center;
    flex-direction: column;
    border: 1px solid rgb(233, 233, 233);
}
.bWrap .swiper .swiper-wrapper .swiper-slide .blogImg{
    height: 210px;
    display: flex;justify-content: center;   align-items: center;
}
.bWrap .swiper .swiper-wrapper .swiper-slide .blogTxt{
    height: 420px;
    padding: 20px;
}
.bWrap .swiper .swiper-wrapper .swiper-slide .blogTxt h6{
    height: 210px;
    font-size: 24px;
    text-align: center;
}
.bWrap .swiper .swiper-wrapper .swiper-slide .blogImg img{
    width: 100px; height: 100px;

}

#biz {
    margin-bottom: 50px;
}
#biz .bpWrap{
    width: 1260px;
    height: 315px;
    margin: 0 auto;
    display: flex;
}

#biz .bpWrap .bPart{
    width:calc(1260px / 2);
    height: 315px;
    position: relative;
}
#biz .bpWrap .bPart .aniCircle{
    width: 200px;
    height: 200px;
    border: 1px solid  #2973EC;
    border-radius: 50%;
    animation-name:circle;
    position: absolute;
    left: -100%;
    bottom: -100%;
    animation-duration: 3s;
    animation-name: circle;

}
@keyframes circle{
    to {}
    

}
#biz .bpWrap .bPart .bpTxt{
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    position: absolute;
    left: 10%;bottom: 10%;
}
#biz .bpWrap .bPart span{
    font-size: 36px;
    color: #fff;
    font-weight: 600;
}
#biz .bpWrap .bPart p{
    width: 350px;
    color: rgba(255,255,255,0.8);
}
#biz .bpWrap .bPart a{
    color: rgba(255,255,255,0.8);
}

footer{
    width: 100%;
    background: #1A1A1A;
    height: 165px;
}
.ftWrap{
    width: 1260px;
    margin: 0 auto;
    padding: 20px 0 ;
}
.ftTop{
    display: flex;justify-content: space-between;align-items: center;
    height: 60px;
}
.ftTop .mBlog{display: none;}
.ftTop .mBlog a{color: #8b8b8b;font-size: 13px;transition: .3s;}
.ftTop .mBlog a:hover{color: #fff;}
.ftTop .snsIcons{
    display: flex;justify-content: space-between;
    width: 150px;
}
.ftTop .snsIcons img{
    transition: .3s;
}
.ftTop .snsIcons a:hover img{
    transform: scale(1.2);
}
.ftWrap .ft{
    height: 30px;
}
.ftWrap .ft ul{
    display: flex;
}
.ftWrap .ft ul li{
    padding: 0 10px;
}
.ftWrap .ft ul li:hover a{
    color: #fff;
}
.ftWrap .ft ul li:first-child{
    padding-left: 0;
}

.ftWrap .ft ul li a{
    color: #8b8b8b;
    font-size: 13px;
}
.ftWrap .cs{
    height: 30px;
    display: flex;
    justify-content: center;align-items: center;
}
.ftWrap .cs span{
    color:#8b8b8b;
    font-size: 13px;
    margin-right: 10px;
}
.ftWrap .cs .pwSign{
    margin-left: auto;
    height: 30px;
    color:#8b8b8b;
    font-size: 13px;
    display: flex;align-items: center;
}
.ftWrap .cs .pwSign img{
    height: 13px;margin-left: 10px;
    transition: .3s;
}
.ftWrap .cs .pwSign img:hover{
    transform: scale(1.2);
}






/*********** css resposive  ***********/
@media (max-width: 1399px) {

    
}

@media (max-width: 1199px) {
    .header{width: 100%;}
    .swiper-slide .txtWrap>p{
        text-align: center;
    }
  
}

@media (max-width: 991px) {
    
}

@media (max-width: 767px) {

    .header .logo{margin:28px 0 16px 0}
    .header .navbar{
        display: none;
    }
    .headerWrap{
        padding: 20px 10px;
    }
    .toggle{
        display: flex;
        margin-left: auto;
        z-index: 999;
        cursor: pointer;
    }
    .toggle.active>.bar1{
        transform: translateY(0) rotate(315deg);
        z-index: 999;
    }
    .toggle.active>.bar2{opacity: 0;}
    .toggle.active>.bar3{
        transform: translateY(0) rotate(-315deg);
        z-index: 999;
    }
    .navbarClone{
        position: fixed;
        width: 100%;height: 100%;
        top: 0;left: -100%;
        background: rgba(0,0,0,.5);
        backdrop-filter: blur(10px);
        display: block;
        transition: .5s;

    }
    .submenu{display: none;}

    .main_s{display: none;}
    .mMenu li.active1 .submenu{display: block;}
    
    .mMenu{display: flex;justify-content: center;align-items: center;}
    .navbarClone{
        padding: 40px  ;
        display: flex;justify-content: flex-start;align-items:center;
    }
    .navbarClone .mMenu{}
    .navbarClone .mMenu li>a{
        color: white;
        font-size: 24px;
        line-height: 40px;
    }
    .navbarClone .mMenu li>a:hover{
        color: #bbb;
    }
    .menu>li>a>i{
        color: white;
        display: block;
    }
    .navbarClone .submenu>li>a{
        font-size: 18px;
    }
    .navbarClone .submenu>li>a:hover{
        color: #bbb;
    }

    .navbarClone .submenu{margin-bottom: 20px;}
    .navbarClone .submenu>li{
        text-indent: 30px;
    }
    
    .swiper-wrapper .slideItem{height:55vh;}
    .swiper-slide .video{
        height:65vh;
    }
    .swiper-slide .txtWrap{
        width: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%) scale(0.9);
    }
    
    .swiper-slide .txtWrap>p>span{display: block;}
    .swiper-slide .txtWrap>p{
        font-size: 35px;
        text-align: center;
    }
    .swiper-slide .txtWrap>img{
    transform: scale(0.8);
    }
    .swiper-slide .txtWrap>a{
        transform: scale(0.9);
    }
    
    .swiper-pagination {
        position: absolute;
        left: 0;
        top: 90%;
    }

    /* section */
    #section .secWrap{
        width: 100%;
        margin-top: initial;
    }
    #section{margin-top: 0;}

    #section .mBoxmenutop{
        width: 100%;
        display: flex;justify-content: center;align-items: center;
        flex-direction: column;
        z-index: 99;
    }
    .boxmenu{flex-direction: column;}
    .boxmenuWrap .boxmenu .mBoxmenutop{
        width: 100%;

    }

    .mBoxmenutop h4{font-size: 38px;}
    .mBoxmenutop p{font-size: 14px;}

    
    .boxmenuWrap .boxmenu .icons{
        display: flex;
        width: 100%;
        height: 150px;
        align-items: center;
        padding: 20px 20px;
    }

    .boxmenuWrap .boxmenu .icons img{
        margin-bottom: 0;
    }
    .boxmenuWrap .boxmenu .icons img:nth-child(1),
    .boxmenuWrap .boxmenu .icons img:nth-child(2){
    }
    .boxmenuWrap .boxmenu .icons .iconsTxt{
        display: flex;
        flex-direction: column;
    }
    .boxmenuWrap .boxmenu .icons .iconsTxt>a{
        font-size: 22px;
        text-align: left;
 
    }
    .boxmenuWrap .boxmenu .icons .iconsTxt>p{
        font-size: 14px;
        text-align: left;
    }

    .clovaDiv{display: none;}
    .subsection{display: none;}


    #vNews{
        width: 100%;
        margin-bottom: 0;
    }
    #vNews .newsWrap{
        width: 100%;
        margin: 0 auto;
        padding: 70px 20px;
    }
    #vNews .newsWrap .news .newsBox{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: scale(0.9);
    }
    #vNews .newsWrap .news .newshd{
        width: 100%;
        margin-bottom: 10px;
    }
    #vNews .newsWrap .news .newshd h5{
        font-size: 38px;
        color: white;
        margin-bottom: 20px;
    }
    #vNews .newsWrap .news .newshd p{
        font-size: 18px;
        color: white;
    }
    #vNews .newsWrap .news .newsBox li{
        margin-right: 0;
    }
    
    #vBlog{display: none;}

    #biz{
        width: 100%;
        margin-bottom: 0;
    }
    #biz .bpWrap{
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 100%
    }
    #biz .bpWrap .bPart{
        width: 100%;
    }

    /* footer */
    footer{
        width: 100%;
    }
    .ftWrap{
        width: 100%;
        margin: 0 auto;
        padding: 20px 0 ;
        display: flex;justify-content: center;align-items: center;
        flex-direction: column;
    }
    footer .ftTop{
        justify-content: start;
        align-items: center;
    }
    .ftTop .snsIcons{
        width: 120px;
    }
    footer .ftTop .mBlog{
        display: block;
        margin-right: 20px;
    }
    footer .ftTop .logo{display: none;}
    footer .ftWrap .ft li:last-child{display: none;}
    footer .ftTop .snsIcons img{
        transform: scale(0.9);
        margin-left: 5px;
    }
    footer .ftWrap .cs{
        justify-content: flex-start;
    }
    footer .ftWrap .cs .pwSign{display: none;}


}


@media (max-width: 575px) {
    .swiper-slide .video{
        height:65vh;
    }
    


    
}