@charset "utf-8";
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
/*********** css resposive init ***********/
/* header */
html,body{height: 100%;}
.hdWrap{
    width: 100%;;background: rgba(0,0,0,.8);padding:0 10px;
    position: absolute;
    z-index: 999;
}
.header{
    margin: 0 auto;
    width: 1260px;height: 100%;
    display: flex;justify-content: space-between;align-items: center;
}
.header .logo{display: block;margin-top: 10px;}
.header .navbar{width: 900px;height: 100%;margin-left: auto;}
.header .menu{
    display: flex;justify-content: space-between;
    padding: 10px 10px 0 10px;
}
.menu>li{
    width: 100%;height:60px;
    display: flex;justify-content: flex-end;align-items: center;
}
.menu>li a{

    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: rgba(255,255,255,.4);
}
.menu>li .subWrap{
    width: 100%;
    height: 100px;
    position: absolute;
    top: 70px;left: 0;
    background: rgba(0,0,0,.8);
    display: none;
    padding: 40px 0;
    z-index: 999;
}
.menu>li .subWrap>ul{
    display: flex;
    width: 700px;
    margin-left: 50%;
}
.menu .subWrap{
    display: flex;position: relative;
    width: 1000px;
}
.menu .subWrap .submenuWrap{
    margin-left: 500px;
    display: flex;justify-content: center;align-items: center;
}
.menu>li .submenu{display: flex;}
.menu .subWrap .submenuWrap>.main_s{
    margin-right: 50px;
}

.menu>li .submenu>li{
    margin-left: 40px;
}
.menu>li .submenu a{
    color: rgba(255,255,255,.4);
    font-size: 14px;;
}
.menu>li:hover>a{
    color: white;
}
.menu>li:hover .subWrap{
    display: flex;justify-content: center;align-items: center;
}

.menu>li:hover .main_s>a{
    color: white;
    font-size: 22px;
}
.submenu>li:hover>a{
    color:white
}
.menu>li>a i{
    display: none;

}
.toggle{
    display: none;
    width: 40px;height: 40px;
    justify-content: center;
    align-items: center;
    
}
.toggle div{
    width: 24px;
    height: 3px;
    border-radius: 2px;
    background: #fff;
    display: flex;
    position: absolute;
}
.toggle div:first-child{
    transform: translateY(-8px);
}
.toggle div:last-child{
    transform: translateY(8px);
}

.navbarClone{display: none;}
.navbarClone .mMenu{display: none;}

/* visual */
#visual{
    width: 100%;
    overflow: hidden;
}
.swiper{
    width: 100%;
    height: 100%;
    position: relative;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-wrapper .slideItem{height:82vh}
  .swiper-slide{position: relative;overflow:hidden}
  .swiper-slide .video{
    height:82vh;
    position: absolute;left: 50%;
    transform: translateX(-50%);
  }

/* swiper pagenation 수정  */
.swiper-pagination {
    position: absolute;
    left: 0;
    top: calc(60% - 5px) ;
    text-align: center;
    -webkit-transition: .3s opacity;
    -o-transition: .3s opacity;
    transition: .3s opacity;
    -webkit-transform: translate3d(0,0,0);
    z-index: 10;
}
:root {
    --swiper-theme-color: #fff !important;
    --swiper-navigation-size: 44px !important; 
    --swiper-theme-color: #fff;
    --swiper-pagination-bullet-vertical-gap:25px;
    --swiper-pagination-bullet-width:40px;
    --swiper-pagination-bullet-height:3px;
}
.swiper-pagination .swiper-pagination-bullet-active {
    border-radius: 0;
}
.swiper-pagination .swiper-pagination-bullet {
    border-radius: 0; 
}



.swiper-slide{
    position: relative;
    margin: 0 auto;
}

.swiper-slide .txtWrap{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-60%);
    display: flex;justify-content: center;align-items: center;
    flex-direction: column;
}

.swiper-slide .txtWrap>p{
    font-size: 40px;
    color: white;
    margin-bottom: 20px;
    text-align: center;
}
.swiper-slide .txtWrap>p>span{display: none;}
.swiper-slide .txtWrap>img{
    width: 500px;
    height: 40px;
    object-fit: contain;
    display: block;
    margin-bottom: 20px;
}
.swiper-slide .txtWrap>a{
    width: 150px;
    font-size: 16px;
    font-weight: 800;
    border: 1px solid #fff;
    border-radius: 25px;
    line-height: 50px;
    color: white;
    text-align: center;
    transition: .3s;
}
.swiper-slide .txtWrap>a:hover{
    background: #05d685;
    border:1px solid #05d685;
}

/* sec01 boxmenu */
#section{
    width: 100%;
    margin-top: -315px;
    position: absolute;
    z-index: 999;
}
#section .secWrap{
    width: 1260px;
    height: 1260px;
    margin: 0 auto;

}
.boxmenuWrap{}
.boxmenuWrap .boxmenu{
    display: flex;
}
.boxmenuWrap .boxmenu .icons{
    width: 315px;
    height: 315px;
    display: flex;justify-content: center;align-items: center;
    flex-direction: column;
    background: #fff;
}
.boxmenuWrap .boxmenu .icons img{
    margin-bottom: 10px;
    transition: .3s;
}
.boxmenuWrap .boxmenu .icons a{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;

}
.boxmenuWrap .boxmenu .icons:hover img{
    transform: scale(1.1);
}
.boxmenuWrap .boxmenu .icons p{
    font-size: 16px;
    text-align: center;
}

/* sec02 clovaDiv swiper*/
.clovaDiv{width: 1260px;}
.clovaDiv .swiper-slide{
    display: flex;
}
.clovaDiv .divImg,
.clovaDiv .divTxt
{
    width: 630px;
    height: 315px;
}
.clovaDiv .divImg{

}

/*subsection*/
.subsection{
    width: 1260px;
    height: 630px;
}
.subsection .ssWrap{
    display: flex;
}
.subsection .ssWrap .sebsec{width: 315px;height: 630px;}
.subsection .ssWrap .sebsec img{
    width: 315px;height: 315px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.subsection .ssWrap .sebsec .txtbox{}
.subsection .ssWrap .sebsec .txtbox a{}
.subsection .ssWrap .sebsec .txtbox p{}





/*********** css resposive  ***********/
@media (max-width: 1399px) {

    
}

@media (max-width: 1199px) {
    .header{width: 100%;}
    .swiper-slide .txtWrap>p{
        text-align: center;
    }
  
}

@media (max-width: 991px) {
    
}

@media (max-width: 767px) {

    .header .logo{margin:28px 0 16px 0}

    .header .navbar{
        display: none;
    }
    .headerWrap{
        padding: 20px 10px;
    }

    .toggle{
        display: flex;
        margin-left: auto;
        z-index: 999;
        cursor: pointer;
    }
    .toggle.active>.bar1{
        transform: translateY(0) rotate(315deg);
        z-index: 999;
    }
    .toggle.active>.bar2{opacity: 0;}
    .toggle.active>.bar3{
        transform: translateY(0) rotate(-315deg);
        z-index: 999;
    }


    .navbarClone{
        position: fixed;
        width: 100%;height: 100%;
        top: 0;left: -100%;
        background: rgba(0,0,0,.5);
        backdrop-filter: blur(10px);
        display: block;
        transition: .5s;

    }

    .submenu{display: none;}

    .main_s{display: none;}
    .mMenu li.active1 .submenu{display: block;}
    
    .mMenu{display: flex;justify-content: center;align-items: center;}
    .navbarClone{
        padding: 40px  ;
        display: flex;justify-content: flex-start;align-items:center;
    }
    .navbarClone .mMenu{}
    .navbarClone .mMenu li>a{
        color: white;
        font-size: 24px;
        line-height: 40px;
    }
    .navbarClone .mMenu li>a:hover{
        color: #bbb;
    }
    .menu>li>a>i{
        color: white;
        display: block;
    }
    .navbarClone .submenu>li>a{
        font-size: 18px;
    }
    .navbarClone .submenu>li>a:hover{
        color: #bbb;
    }

    .navbarClone .submenu{margin-bottom: 20px;}
    .navbarClone .submenu>li{
        text-indent: 30px;
    }
    
    .swiper-wrapper .slideItem{height:65vh;}
    .swiper-slide .video{
        height:65vh;
    }
    
    .swiper-slide .txtWrap>p>span{display: block;}
    .swiper-slide .txtWrap>p{
        font-size: 38px;
        text-align: center;
    }
    .swiper-slide .txtWrap>img{
    transform: scale(0.8);
    }
    .swiper-slide .txtWrap>a{
        transform: scale(0.9);
    }
    
    .swiper-pagination {
        position: absolute;
        left: 0;
        top: 65%;}

    /* section */
    #section{margin-top: 0;}

    


}


@media (max-width: 575px) {
    .swiper-slide .video{
        height:65vh;
    }

    
}