@charset "utf-8";

body{font-family: 'Noto Sans KR', sans-serif;}

.headerWrap{width: 100%;height: 76px;}
.headerWrap .header{width: 1280px;height: 76px;margin: 0 auto;
    position: relative;}
.headerWrap .header img{display:block; position: absolute;top: 20px;left: 20px;}
.headerWrap .header .navbar ul li{
    float: right;width: calc( 510px / 3);
    height: 76px;line-height: 76px;
    color: #1e1e1e;text-align: center;
    }

.visual{position: relative;height: 100vh;
        margin-bottom: 100px;}

.visual .txtWrap{
    position: absolute;width: 1280px;
    left: 50%;margin-left: -640px;
    height:100% ;
    color: white;
    }
.visual .txtWrap .txt{position: absolute; top: 40%;}
.visual .txtWrap h3{font-size: 80px;margin-bottom: 30px;}
.visual .txtWrap p{font-size: 24px;margin-bottom: 30px;}
.visual .txtWrap a{
    color: #333;display: inline-block;
    background-color: white;
    border-radius: 10px;
    padding: 10px 20px;
    }

.visual .slideItem{
    height: 100vh;min-height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

.next,.prev{
    position: absolute;top: 70%;left: 40%;cursor: pointer;
}
.prev{left: 38%;}

.bx-wrapper {
    -moz-box-shadow: 0 0 0 #ccc;
    -webkit-box-shadow: 0 0 0 #ccc;
    box-shadow: 0 0 0 #ccc;
    border: 0 none;
    margin-bottom: 0;
    }
.bx-wrapper .bx-pager.bx-default-pager a {
    display: none;
}


.contents .conTitleWrap{width: 1280px;margin: 0 auto;
    margin-bottom: 100px;}
.contents .conTitle .ttl01{width: 1216px;height: 124px;text-align: left;
    font-size: 44px;line-height: 62px;font-weight: 700;
    color: #1e1e1e;}

.contents .conTitle .ttl02{width: 592px;height: 56px;text-align: left;
    font-size: 18px;line-height: 28px;
    margin-left: 688px; letter-spacing: -0.6px;
}

.thumb .nav{width: 1280px; margin: 0 auto;}
.thumb .nav .navbar{float: left;margin: 0 auto;}
.thumb .nav .navbar ul{margin-bottom: 20px; 
    }
.thumb .nav .navbar li{width: calc(( 100% - 60px ) / 3 );    
    float: left; margin-right: 30px;}
.thumb .nav .navbar li:last-child{margin-right: 0;}
.thumb .nav .navbar li img{
    display: block;margin-bottom: 20px;       
    transition: 0.2s;
}
.thumb .nav .navbar img:hover{
    transform: translate(0,-15px);
    box-shadow: 0 20px 40px 0 rgba(96 97 112 / 0.3);
}

.thumb .nav .navbar li h1{font-size: 21px;line-height: 32px;}
.thumb .nav .navbar li p{font-size: 15px;line-height: 24px;}


.purpose{width: 1280px; padding: 100px 0;
    position: relative;}

.purpose .section{
    width: 1216px;height: 462px;
    padding: 100px 0 ;
    position: absolute;top: 100px;left: 0;
  }
.purpose .section .secBoxWrap{
    width: 1114px;height: 338px;
    position: relative;
}
.section .secBoxWrap .secBox{
    display: block;
    width: 1114px;
    background-color: #ffd44a;
    padding: 100px 100px;
}

.section .secBoxWrap .secBox p{
    width: 490px;
    display: block;
    font-size: 28px;line-height: 40px;margin-bottom: 30px;}

.section .secBoxWrap .secBox a{
    width: 490px;font-size: 15px;line-height: 22px;}

.section .secBoxWrap img{
    float: right;
    width: 592px;height: 360px;
}

.news{width: 100%;background-color: #f7f8f9;}
.news .newsCont{width: 1280px;
    padding: 160px 32px;}

.news .newsCont h2{}
.news .newsCont ul{}
.news .newsCont ul li{}









/* .footer{width: 100%;background-color: #171717;} */