@charset "utf-8";
.container{
    width: 1200px; margin: 0 auto;
}
/* header */
#header{}
.headerTopWrap{background-color: #8c0f1a;}

.headerTop .clgWrap{
    float: left;
}
.headerTop .clgWrap li{
    width: 120px;
    background-color: #6b0213 ;
    float: left;
    font-size: 14px;
    margin-right: 2px;
}
.headerTop .clgWrap li a{
    color: #fff;
    display: block;
    line-height: 40px;text-align: center;
}
.headerTop .clgWrap li:hover{
    background-color: #fff;
}
.headerTop .clgWrap li:hover a{
    color:darkgray;
}
.headerTop .clgWrap li.active{background: #fff;}
.headerTop .clgWrap li.active a{color:darkgray;}

.headerTop .utilWrap{
    float: right;
}
.headerTop .utilWrap li{
    float: left;
    font-size: 14px;
}
.headerTop .utilWrap li>a{    
    display: block;
    font-size: 14px;
    color: white;
    text-align: center;
    height: 40px;
    padding: 0 10px;
    display: flex; justify-content: center;align-items: center;  
}
.headerTop .utilWrap li:nth-child(2){
    line-height: 40px;
    padding-top: 10px;
}
.headerTop .utilWrap li:nth-child(2) a{
    color: gray;
    width: 20px;
    height: 20px;
    background-color: white;
    margin-right: 1px;
    float: left;
}

.headerMenu{
    width: 1200px;height: 120px;
    margin: 0 auto;

}
.headerMenu .ai{float: left;}
.headerMenu .ai img{
    width: 300px;height: 120px;
    object-fit: contain;
}

.headerMenu .mainMenu{
    float: right;
    padding: 32px 0;
}
.headerMenu .mainMenu ul{}
.headerMenu .mainMenu ul li{
    float: left;
    margin-left: 30px;
}
.headerMenu .mainMenu ul li:last-child{margin-left: 0;}
.headerMenu .mainMenu ul li>a{ 
    font-size: 18px;
    height: 60px;
    color:gray;
    display: flex;justify-content: center;align-items: center;
}

/* section */
#section{
    padding: 70px 0;
    height: 1300px;
    background-image: url(../images/dot.png),url(../images/bg01.jpg);
    background-repeat: repeat,no-repeat;
    background-position: center;
    background-size: auto, cover;
}
#section .sec1st{
    height: 140px;
    margin-bottom: 40px;
}
#section .sec1st>h1{
    float: left;  
    font-size: 70px;color:#fff}
#section .sec1st>h1>.pLight{font-size: 40px; font-weight: 400;}

#section .sec1st .secIcon{float: right;}
#section .sec1st .secIcon ul{
    padding: 10px 0 0 0;
    display: flex;justify-content: center;align-items:center;
}

#section .sec1st .secIcon ul li{margin-left: 15px;}
#section .sec1st .secIcon ul li img{margin-bottom: 20px;}
#section .sec1st .secIcon ul li a{
    display:block; color: white;font-size: 15px;text-align: center;
    font-weight: 600;}

#section .sec2nd>ul>li{float: left;width: 300px;height: 225px;}
#section .sec2nd>ul>li{background-color: #fff;}
#section .sec2nd>ul>li:nth-child(2n){background-color: pink;}

#section .sec2nd>ul>li:nth-child(1){
    width: 900px;height: 450px;
    display: block;
}
.bx-wrapper {
    -moz-box-shadow: 0 0 0 #ccc;
    -webkit-box-shadow: 0 0 0 #ccc;
    box-shadow: 0 0 0 #ccc;
    border: 0 none;
    background: #fff;
}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: 20px;
  width: 100%;
}
.bx-wrapper .bx-pager.bx-default-pager a {
    background:#8c0f1a;
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

  

#section .sec2nd>ul>li:nth-child(1) .slideWrap .slide li a:last-child{
    width:200px;
    height: 50px;
    background-color:none;
    border: 2px solid white;
    border-radius: 25px;
    color:#fff;
    padding: 10px 15px ;
    text-align: center;
    display: block;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    right: 50px;
    bottom: 50px;
}
#section .sec2nd>ul>li:nth-child(1) .slideWrap .slide li a:last-child:hover{
    background-color: #fff; opacity:0.5;
    color: #00163B;
    font-weight: bold;
}
#section .sec2nd>ul>li:nth-child(1) .slideWrap .slide li{
    position: relative;
}
#section .sec2nd>ul>li:nth-child(1) .slideWrap .slide .txt01{
    color: white;
    font-size: 40px;
    font-weight: 600;
    position: absolute;
    bottom:50px;
    left:50px;
}
#section .sec2nd>ul>li:nth-child(1) .slideWrap .slide .txt02{
    color: white;
    font-size: 40px;
    font-weight: 600;
    position: absolute;
    bottom:50px;
    left:50px;
}
#section .sec2nd>ul>li:nth-child(1) .slideWrap .slide .txt03{
    color: white;
    font-size: 35px;
    font-weight: 600;
    position: absolute;
    bottom:50px;
    left:50px;
}

#section .sec2nd>ul>li:nth-child(2){height: 450px;}
#section .sec2nd>ul>li:nth-child(2) .honors{
    width: 100%;
    height: 100%;
    padding: 50px 20px 20px;
    background-image: url(../images/sec_lib.png);
    display: flex;justify-content: start;align-items: center;
    flex-direction: column;
    position: relative;
}

#section .sec2nd>ul>li:nth-child(2) .honors .hBtn{
    width:200px;
    height: 50px;
    background-color:none;
    border: 2px solid white;
    border-radius: 25px;
    color:#fff;
    padding: 10px 15px ;
    text-align: center;
    display: block;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    right: 50px;
    bottom: 50px;
}
#section .sec2nd>ul>li:nth-child(2) .honors .hBtn:hover{
    background-color: #fff; opacity:0.5;
    color: #00163B;
    font-weight: bold;
}
#section .sec2nd>ul>li:nth-child(2) .honors li:hover{
    background-color: black;
    opacity:0.5;
    cursor: pointer;
}
#section .sec2nd>ul>li:nth-child(2) .honors .txtWrap>a:first-child{
    color:white;
    font-size: 55px;
    line-height: 55px;
    display: block;
    text-align: center;
    margin-bottom: 15px;
}
#section .sec2nd>ul>li:nth-child(2) .honors .txtWrap>a:nth-child(2){
    color: white;
    font-size: 15px;
    display: block;
    margin-bottom: 15px;
    line-height: 25px;
}
#section .sec2nd>ul>li:nth-child(2) .honors .txtWrap>a:last-child{
    color:white;
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
    display: block; 
}
#section .sec2nd>ul>li:nth-child(2) .honors .btn{
    width: 200px;
    color:white;
    font-size: 20px;
    display: block;
    text-align: center;
    border-style: solid;
    border-radius: 25px;
    padding: 10px;
}


#section .sec2nd>ul>li:nth-child(3){
    background-color: #00163B;
}
#section .sec2nd>ul>li:nth-child(3) .hotlink{
    padding: 20px;
}
#section .sec2nd>ul>li:nth-child(3) .hotlink h2{
    color:white;
    font-size: 20px;
    margin-bottom: 30px;
}
#section .sec2nd>ul>li:nth-child(3) .hotlink ul{
    width: 100%;
    display: flex;justify-content: space-around;
}
#section .sec2nd>ul>li:nth-child(3) .hotlink ul li{
    display: flex;justify-content: center;align-items: center;
    flex-direction: column;
    transition:0.3s

}
#section .sec2nd>ul>li:nth-child(3) .hotlink ul li:hover{
    cursor: pointer;
}
#section .sec2nd>ul>li:nth-child(3) .hotlink ul li:hover img{
    opacity:0.5;
}
#section .sec2nd>ul>li:nth-child(3) .hotlink ul li:hover a{
    font-weight: bold;
}
#section .sec2nd>ul>li:nth-child(3) .hotlink ul li img{
    margin-bottom: 10px;
}
#section .sec2nd>ul>li:nth-child(3) .hotlink ul li a{
    font-size: 13px;
    color: white;
    text-align: center;
    
}


/* notice */

#section .sec2nd>ul>li:nth-child(4) .notice{
    width: 100%;height: 100%;
    padding: 20px;
    background-image: url(../images/bg02.png) ;
    background-repeat: no-repeat;
    _filter: grayscale(100%);
}
#section .sec2nd>ul>li:nth-child(4) .notice h2{
    display: block;
    color:#00163B;
    font-size: 20px;
    padding: 0 0 10px 0;
    margin-bottom: 5px;
}
#section .sec2nd>ul>li:nth-child(4) .notice h2:after{
    content: "";
    display: block;
    width: 260px;
    height: 2px;
    background-color: #00163B;
    margin-top: 10px;
}
#section .sec2nd>ul>li:nth-child(4) .notice ul{
    width: 250px;height: 180px;
}
#section .sec2nd>ul>li:nth-child(4) .notice ul li p{
    width: 170px;
    
    text-indent: 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
#section .sec2nd>ul>li:nth-child(4) .notice ul li:before{
    content: ""; width: 3px;height: 3px;
    border-radius: 50%;
    background-color: #00163B;
    position: absolute;
    left: 0;top: 15px;
}
#section .sec2nd>ul>li:nth-child(4) .notice ul li{
    position: relative;
    text-shadow: 2px 2px 4px white;
}
#section .sec2nd>ul>li:nth-child(4) .notice ul li a{
    color: #00163B;
    font-size: 14px;
    line-height: 30px;
    font-weight: 600;
    position: relative;
}
#section .sec2nd>ul>li:nth-child(4) .notice ul li a span{
    display: block;
    position: absolute;
    right:0;top: 0;
}

/* snsnews */
#section .sec2nd>ul>li:nth-child(5){
    background-color: white;
    /* width: 100px;height: 100px; */
    padding: 20px;
    
}
#section .sec2nd>ul>li:nth-child(5) .snsnews h2{
    display: block;
    color:#00163B;
    font-size:20px;
    margin-bottom: 30px;
}
#section .sec2nd>ul>li:nth-child(5) .snsnews .snsbox{
    /* display: flex;justify-content: center;align-items: center; */
}
#section .sec2nd>ul>li:nth-child(5) .snsnews p{
    width: 100px;
    font-size: 8px;
    text-align: left;
    float: right;
}
#section .sec2nd>ul>li:nth-child(5) .snsnews .snsbox img{
    float: left;
    display: block;
}
#section .sec2nd>ul>li:nth-child(5) .snsnews .snsIcon .iconbox{
    width: 260px;height:50px;
    display: flex;justify-content: space-around;align-items: center;
    
}
#section .sec2nd>ul>li:nth-child(5) .snsnews .snsIcon .iconbox img:hover{
    transform:scale(1.5);
}
#section .sec2nd>ul>li:nth-child(5) .snsnews .snsIcon .iconbox img{
    width: 30px; height: 30px;
    transition:0.3s;
   
}
/* tour */
#section .sec2nd>ul>li:nth-child(6){
}
#section .sec2nd>ul>li:nth-child(6) .tour{position: relative;}
#section .sec2nd>ul>li:nth-child(6) .tour img{
    width:300px;height: 225px;
    object-fit: cover;
}
#section .sec2nd>ul>li:nth-child(6) .tour .bar{
    width: 300px;height: 50px;
    background-color:rgba(0,0,0, 0.5);
    display: block;
    position: absolute;
    left: 0;bottom: 0;
    transition:0.3s;
}
#section .sec2nd>ul>li:nth-child(6) .tour .bar a{
    display: block;
    text-align: center;
    font-size: 18px;
    line-height: 50px;
    color: white;
}
#section .sec2nd>ul>li:nth-child(6) .tour .bar:hover{
    background-color:rgba(255,255,255,0.8);
}
#section .sec2nd>ul>li:nth-child(6) .tour .bar:hover a{
    color: #00163B;
    font-weight: 600;
}
/* playbox */
#section .sec2nd>ul>li:nth-child(7){
    width: 300px;height: 225px;
}
#section .sec2nd>ul>li:nth-child(7) .playbox{position: relative;}

#section .sec2nd>ul>li:nth-child(7) .playbox a{
    width: 0px;
    height: 0px;
    border-bottom: calc( 10px * 1.732) solid white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    top: 50%;left: 50%;
    transform:translate(-50%,-50%) rotate( 90deg );
    z-index: 3  ;
}
#section .sec2nd>ul>li:nth-child(7) .playbox .graybtn{
    width: 50px;height: 50px;
    content: "";
    border-radius: 50%;
    background-color: rgba(0,0,0, 0.7);
    position: absolute;
    top: 50%;left: 50%;
    transform:translate(-50%,-50%);
    z-index: 1  ;
}


/* slide */
#section .sec2nd>ul>li:nth-child(8){width: 900px;}

#section .sec2nd>ul>li:nth-child(8) .swiper {
    position: relative;
    width: 100%;
    height: 100%;
}
#section .swiper-pagination{
    width: 100px !important;
    height: 40px;
    right: 0;
    top: 0;
    bottom: initial;
    left:initial;
}

#section .sec2nd>ul>li:nth-child(8) .swiper .swiper-wrapper .swiper-slide h3{
    font-size: 30px;
    color: white;
}

/* footer */

.footer{
    width: 100%;
    height: 180px; 
    background-color: rgba(0,0,0, 0.7);
    padding:10px 0;    
}

.footMenu{
    margin:0 auto; 
    width: 1200px;
}
.footer .footMenu .ftMTop{height: 50px;margin-bottom:20px;}
.footMenu .ftMTop ul{
    display: flex;justify-content: space-between;align-items: center;
}
.footMenu .ftMTop ul li a{
    font-size: 15px;
    line-height: 50px;
    color:gray
}
.footMenu .ftMTop ul li{position: relative;}
.footMenu .ftMTop ul li:after{
    content: "";
    display: block;
    width: 1px;
    height: 12px;
    background-color: gray;
    position: absolute;
    right: -80px;
    top: 20px;
}
.footMenu .ftMTop ul li:last-child:after{
    display: none;;
}
.footer .footMenu .ftWrap .adWrap{
    width: 950px;
    height:100px;
    float: right;
}
.footer .footMenu .ftWrap img{
    float: left;
}
.footer .footMenu .ftWrap address{
    font-size: 13px;
    color:white;
    font-style: normal;
}
.footer .footMenu .ftWrap .adWrap{}
.footer .footMenu .ftWrap .adWrap address a{
    font-size: 12px;
    color:gray;
    margin-bottom: 10px;
}
.footer .footMenu .ftWrap p{    
    display: block;
    font-size: 14px;
    color:gray;
}