
.headerTopWrap{
    background-color: #8c0f1a;
}
.headerTop{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
.headerTop .navbarClgMenu{
    width: 380px;
    height: 40px;
}
.headerTop .navbarClgMenu li{
    width: calc((100% - 4px) / 3);
    background-color: #6b0213 ;
    float: left;
    margin-right: 2px;
}
.headerTop .navbarClgMenu li:last-child{
    margin-right: 0;}
.headerTop .navbarClgMenu li a{
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: white;
    text-align: center;
    line-height: 40px;
}

.headerTop .navbarUtil{
    position: absolute;
    display: block;
    top: 0;right: 0;
}
.headerTop .navbarUtil li{
    float: left;
    display: block;
    color: white;
    margin-left: 20px;
}
.headerTop .navbarUtil li a{    
    display: block;
    font-size: 14px;
    color: white;
    text-align: center;
    line-height: 40px;
}

.headerMenu{
    width: 1200px;height: 150px;
    margin: 0 auto;
    position: relative;
}
.headerMenu .ai{float: left;}
.headerMenu .ai img{
    width: 350px;
    height: 150px;
    object-fit: contain;
}
.headerMenu .mainMenu{
    width: calc(1200px * 2 / 3);
}
.headerMenu .mainMenu ul{
    position: absolute;
    top: 40px;right: 0;
}
.headerMenu .mainMenu ul li{
    float: left;
    margin-left: 30px;
}
.headerMenu .mainMenu ul li:last-child{
    margin-left: 0;
}
.headerMenu .mainMenu ul li a{
    display: block;
    font-size: 18px;
    line-height: 50px;
}

