#menu {
  width: 100%;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: solid 1px #F5B72E;
  z-index: 1;
}
#menu .navWrap {
  margin: 0 auto;
  width: 1535px;
  height: 100%;
}
#menu .navWrap button {
  border: 0 none;
  outline: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 10px;
  box-shadow: none;
}
#menu .navWrap .nav {
  width: 50%;
  height: 100%;
  margin-left: auto;
}
#menu .navWrap .nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#menu .navWrap .nav ul li {
  width: 100%;
}
#menu .navWrap .nav ul li :hover {
  color: #333;
}
#menu .navWrap .nav ul li.active a {
  color: #F5B72E;
}
#menu .navWrap .nav ul li a {
  display: block;
  width: 100%;
  line-height: 60px;
  font-size: 24px;
  text-align: right;
  font-weight: 500;
  color: #FFF8DE;
  transition: 0.3s;
}

#fullpage .section {
  background: #0f0f0f;
}

#fullpage .section .hTop {
  display: none;
}

.home {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.home .mainBg .sun {
  position: absolute;
  z-index: 0 !important;
  width: 600px;
  top: -65px;
  right: 40px;
  transform: rotate(160deg);
  -webkit-animation: sunAni 4s alternate infinite;
          animation: sunAni 4s alternate infinite;
}
.home .mainBg .bg02 {
  position: absolute;
  left: -180px;
  bottom: -380px;
  transform: scale(1.2);
}
.home .mainBg .p02 {
  position: absolute;
  z-index: 665;
  top: 400px;
  right: 360px;
  width: 300px;
  height: auto;
  -webkit-animation: p02Ani 4s ease-in-out infinite;
          animation: p02Ani 4s ease-in-out infinite;
}
.home .mainBg .p01 {
  position: absolute;
  top: 70px;
  right: -45px;
  width: 680px;
  -webkit-animation: p01Ani 3s ease-in-out infinite;
          animation: p01Ani 3s ease-in-out infinite;
  z-index: 999;
}
.home .mainBg .logoBox {
  width: 1535px;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  z-index: 9999;
}
.home .subBg {
  display: none;
}

@-webkit-keyframes sunAni {
  to {
    transform: rotate(145deg);
  }
}

@keyframes sunAni {
  to {
    transform: rotate(145deg);
  }
}
@-webkit-keyframes p01Ani {
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes p01Ani {
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0);
  }
}
@-webkit-keyframes p02Ani {
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes p02Ani {
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0);
  }
}
.lineup {
  position: relative;
  height: 100vh;
}
.lineup .pList {
  width: 100%;
  height: 750px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lineup .pList .tabWrap .tab {
  display: flex;
  margin-left: auto;
}
.lineup .pList .tabWrap li {
  width: 200px;
  height: 40px;
  color: #fff;
  cursor: pointer;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.lineup .pList .tabWrap li span {
  margin-left: 10px;
}
.lineup .pList .tabWrap li.active {
  background: #F5B72E;
  color: #333;
  font-weight: bold;
}
.lineup .pList .swiper {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.lineup .pList .swiper .swiper-wrapper {
  margin-top: 50px;
}
.lineup .pList .swiper .swiper-slide {
  width: 550px !important;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 30px;
}
.lineup .pList .swiper .swiper-slide .pPhoto {
  width: 550px;
  height: 550px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 20px;
}
.lineup .pList .swiper .swiper-slide .pName {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ticket {
  position: relative;
}
.ticket .tk {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}
.ticket .tk .mrow {
  display: none;
}
.ticket .tk .mrow .btn {
  background: #F5B72E;
}
.ticket .tk .tkrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 80%;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
}
.ticket .tk .tkrow .tSec .tBody .tbWrap {
  display: none;
  transition: 0.3s;
}
.ticket .tk .tkrow .tSec .tBody .tbWrap .price h4 {
  font-size: 18px;
}
.ticket .tk .tkrow .tSec .tBody .tbWrap .tDate {
  display: flex;
}
.ticket .tk .tkrow .tSec .tBody .tbWrap .tt {
  display: flex;
}
.ticket .tk .tkrow .tSec .tBody .tbWrap .tt img {
  margin-left: 5px;
  margin-right: 5px;
  -o-object-fit: contain;
     object-fit: contain;
}
.ticket .tk .tkrow .tSec:hover .tkImg {
  display: none;
}
.ticket .tk .tkrow .tSec:hover .tTop .en {
  display: none;
}
.ticket .tk .tkrow .tSec:hover .tTop .kr {
  display: block;
}
.ticket .tk .tkrow .tSec:hover .tBody .tbWrap {
  display: block;
}
.ticket .tk .tkrow .btn {
  width: 300px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 25px;
  line-height: 38px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}
.ticket .tk .tkrow .btn:hover {
  background: #F5B72E;
  border: 0 none;
}
.ticket .tk .tkrow .btn:hover span {
  color: #333;
  font-weight: bold;
}
.ticket .tk .tkrow .tTop {
  height: 150px;
  padding: 40px 20px;
  position: relative;
}
.ticket .tk .tkrow .tTop h3 {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}
.ticket .tk .tkrow .tTop h3.kr {
  display: none;
}
.ticket .tk .tkrow .t01,
.ticket .tk .tkrow .t02,
.ticket .tk .tkrow .t03,
.ticket .tk .tkrow .t04 {
  position: relative;
}
.ticket .tk .tkrow .t01,
.ticket .tk .tkrow .t02,
.ticket .tk .tkrow .t03 {
  border-right: 2px solid #333;
}
.ticket .tk .tkrow .t01 {
  position: relative;
}
.ticket .tk .tkrow .t01 .tkImg {
  width: 250px;
  height: 380px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  transform-origin: center;
}
.ticket .tk .tkrow .t02 {
  position: relative;
}
.ticket .tk .tkrow .t02 .tkImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}
.ticket .tk .tkrow .t03 {
  position: relative;
}
.ticket .tk .tkrow .t03 .tkImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}
.ticket .tk .tkrow .t04 {
  position: relative;
}
.ticket .tk .tkrow .t04 .tkImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

.program {
  position: relative;
}
.program .prg {
  width: 100%;
  height: 89%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.program .prg .swiper {
  width: 100%;
}
.program .prg .swiper .swiper-wrapper .swiper-slide {
  color: #fff;
}
.program .prg .swiper .swiper-wrapper .swiper-slide:first-child .mImg {
  display: none;
}
.program .prg .swiper .swiper-wrapper .swiper-slide .slideItem {
  position: relative;
}
.program .prg .swiper .swiper-wrapper .swiper-slide .slideItem .imgBox {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.program .prg .swiper .swiper-wrapper .swiper-slide .slideItem .imgBox .mImg {
  display: none;
}
.program .prg .swiper .swiper-wrapper .swiper-slide .slideItem .txtBox {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 300px;
  right: 0;
  padding: 0 50px;
}

.notice {
  position: relative;
}
.notice .ntcBox {
  width: 100%;
  height: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.notice .ntc {
  width: 90%;
  height: 100%;
  margin-left: 5%;
}
.notice .ntc a {
  width: 100%;
  height: 55px;
  display: block;
  border-bottom: 1px solid #ccc;
}
.notice .ntc a:first-child {
  border-top: 1px solid #ccc;
}
.notice .ntc a:hover p {
  color: #F5B72E;
}
.notice .ntc a p {
  color: #fff;
  font-size: 18px;
  text-indent: 40px;
  line-height: 55px;
}

.ntcWrap {
  width: 100%;
  height: 40%;
  position: relative;
  margin-bottom: 50px;
}
.ntcWrap .iBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.ntcWrap .iBox .nIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ntcWrap .iBox .nIcon img {
  width: 150px;
  height: 230px;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer {
  width: 100%;
  height: 100%;
  background: #F5B72E !important;
  color: #FFF8DE;
  position: relative;
}
.footer .ftWrap {
  position: absolute;
  bottom: 20px;
  left: 5%;
}
.footer .ftGuide .ftIcons {
  height: 240px;
  display: flex;
  flex-direction: column;
}
.footer .ftGuide .ftIcons .ftLogo {
  width: 200px;
  height: 140px;
  margin-bottom: 20px;
}
.footer .ftGuide .ftIcons .ftLogo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
}
.footer .ftGuide .ftIcons .sns {
  width: 200px;
}
.footer .ftGuide .ftIcons .sns .icons {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer .ftGuide .ftIcons .sns .icons img {
  width: 40px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer .ftGuide .contact {
  padding-top: 20px;
}
.footer .ftGuide .contact .conWrap .row {
  height: 100%;
  border-bottom: 1px solid #FFF8DE;
}

@media (max-width: 767px) {
  #fullpage .ticket .tk .tkrow {
    display: none;
  }
  #fullpage .ticket .tk .mrow {
    display: block;
  }
}
@media (max-width: 575px) {
  #fullpage .home .mainBg {
    display: none;
  }
  #fullpage .home .subBg {
    width: 100%;
    height: 100%;
    display: block;
    background-image: url(../images/poster.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }
  #fullpage .section .hTop {
    display: block;
  }
  #fullpage .ticket .tk .tkrow {
    display: none;
  }
  #fullpage .ticket .tk .mrow {
    display: block;
  }
  .program .prg .swiper .swiper-wrapper .swiper-slide:first-child .imgBox img {
    display: none;
  }
  .program .prg .swiper .swiper-wrapper .swiper-slide:first-child .mImg img {
    display: block;
    background: #fff;
  }
  .program .prg .swiper .swiper-wrapper .swiper-slide .slideItem {
    margin-top: 50px;
    width: 100%;
    height: 500px;
  }
  .program .prg .swiper .swiper-wrapper .swiper-slide .slideItem .imgBox {
    width: 100%;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .program .prg .swiper .swiper-wrapper .swiper-slide .slideItem .imgBox img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .program .prg .swiper .swiper-wrapper .swiper-slide .slideItem .imgBox .pImg {
    display: none;
  }
  .program .prg .swiper .swiper-wrapper .swiper-slide .slideItem .imgBox .mImg {
    display: block;
  }
  .program .prg .swiper .swiper-wrapper .swiper-slide .slideItem .txtBox {
    width: 90%;
    height: 200px;
    position: absolute;
    top: 300px;
    left: 25px;
    padding: 0;
  }
  .program .prg .swiper .swiper-wrapper .swiper-slide .slideItem .txtBox p {
    font-size: 14px;
  }
  .ntcBox .ntc {
    width: 100%;
  }
  .ntcBox .ntc a {
    width: 90%;
  }
  .ntcBox .ntc a p {
    width: 90%;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .footer .contact .conWrap .row p {
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */