//color
$fcolor01: #333;
$fcolor02: #FFF8DE;
$fcolor03: #fff;
$fcolor04: #F5B72E;

$bcolor01: #F5B72E;
$bcolor02: #0f0f0f;




//menu
#menu {
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: solid 1px $bcolor01;
    z-index: 1;

    .navWrap {
        margin: 0 auto;
        width: 1535px;
        height: 100%;

        button {
            border: 0 none;
            outline: 0;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            margin-right: 10px;
            box-shadow: none;
        }

        .nav {
            width: 50%;
            height: 100%;
            margin-left: auto;

            ul {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                li {
                    width: 100%;

                    :hover {
                        color: $fcolor01;
                    }

                    &.active a {
                        color: $fcolor04;
                    }

                    a {
                        display: block;
                        width: 100%;
                        line-height: 60px;
                        font-size: 24px;
                        text-align: right;
                        font-weight: 500;
                        color: $fcolor02;
                        transition: .3s;
                        // &:hover{
                        //     color:$fcolor01
                        // }

                    }
                }
            }
        }
    }
}

//page_home
#fullpage .section {
    background: $bcolor02;
}

#fullpage .section .hTop {
    display: none;
}


.home {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    .mainBg {
        .sun {
            position: absolute;
            z-index: 0 !important;
            width: 600px;
            top: -65px;
            right: 40px;
            transform: rotate(160deg);
            animation: sunAni 4s alternate infinite;
        }

        .bg02 {
            position: absolute;
            left: -180px;
            bottom: -380px;
            transform: scale(1.2);
        }

        .p02 {
            position: absolute;
            z-index: 665;
            top: 400px;
            right: 360px;
            width: 300px;
            height: auto;
            animation: p02Ani 4s ease-in-out infinite;
        }

        .p01 {
            position: absolute;
            top: 70px;
            right: -45px;
            width: 680px;
            animation: p01Ani 3s ease-in-out infinite;
            z-index: 999;
        }

        .logoBox {
            width: 1535px;
            height: 80%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -45%);
            z-index: 9999;

        }
    }

    .subBg {
        display: none;
    }

}

@keyframes sunAni {
    to {
        transform: rotate(145deg);
    }
}

@keyframes p01Ani {
    50% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(0);
    }
}

@keyframes p02Ani {
    50% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(0);
    }
}



//page_lineup
.lineup {
    position: relative;
    height: 100vh;

    .pList {
        width: 100%;
        height: 750px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .tabWrap {
            .tab {
                display: flex;
                margin-left: auto;
            }

            li {
                width: 200px;
                height: 40px;
                color: #fff;
                cursor: pointer;
                margin-right: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 20px;

                span {
                    margin-left: 10px;
                }
            }

            li.active {
                background: $bcolor01;
                color: $fcolor01;
                font-weight: bold;
            }

        }

        .swiper {
            width: 100%;
            height: 100%;
            padding-top: 50px;
            padding-bottom: 50px;
            // background: pink;


            .swiper-wrapper {
                margin-top: 50px;
            }

            .swiper-slide {
                width: 550px !important;
                height: 700px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 0 30px;

                .pPhoto {
                    width: 550px;
                    height: 550px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    margin-bottom: 20px;

                }

                .pName {
                    color: #fff;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    h4 {}

                    p {}
                }
            }
        }
    }
}


//page-ticket

.ticket {
    position: relative;

    .tk {
        width: 100%;
        height: 100vh;
        margin: 0 auto;

        .mrow {
            display: none;

            .btn {
                background: $bcolor01;
            }
        }

        .tkrow {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 80%;
            border-top: 2px solid #333;
            border-bottom: 2px solid #333;

            .tSec {
                .tBody {
                    .tbWrap {
                        display: none;
                        transition: .3s;

                        .price {
                            h4 {
                                font-size: 18px;
                            }
                        }

                        .tDate {
                            display: flex;
                        }

                        .tt {
                            display: flex;

                            img {
                                margin-left: 5px;
                                margin-right: 5px;
                                object-fit: contain;
                            }
                        }
                    }
                }
            }

            .tSec:hover {
                .tkImg {
                    display: none;
                }

                .tTop {
                    .en {
                        display: none;
                    }

                    .kr {
                        display: block;
                    }
                }

                .tBody {
                    .tbWrap {
                        display: block;
                    }

                }
            }

            .btn {
                width: 300px;
                height: 50px;
                border: 1px solid #fff;
                border-radius: 25px;
                line-height: 38px;
                position: absolute;
                bottom: 30px;
                left: 50%;
                transform: translateX(-50%);
            }

            .btn:hover {
                background: $bcolor01;
                border: 0 none;

                span {
                    color: $fcolor01;
                    font-weight: bold;
                }
            }

            .tTop {
                height: 150px;
                padding: 40px 20px;
                position: relative;

                h3 {
                    color: #fff;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: .3s;

                    &.kr {
                        display: none;
                    }
                }
            }

            .t01,
            .t02,
            .t03,
            .t04 {
                position: relative;
            }

            .t01,
            .t02,
            .t03 {
                border-right: 2px solid #333;
            }

            .t01 {
                position: relative;

                .tkImg {
                    width: 250px;
                    height: 380px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 99;
                    transform-origin: center;
                }
            }

            .t02 {
                position: relative;

                .tkImg {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 99;
                }
            }

            .t03 {
                position: relative;

                .tkImg {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 99;
                }
            }

            .t04 {
                position: relative;

                .tkImg {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 99;
                }
            }

        }
    }
}

//program
.program {
    position: relative;

    .prg {
        width: 100%;
        height: 89%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .swiper {
            width: 100%;

            .swiper-wrapper {
                .swiper-slide {
                    color: #fff;

                    &:first-child {
                        .mImg {
                            display: none;
                        }
                    }

                    .slideItem {
                        position: relative;

                        .imgBox {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }

                        .txtBox {
                            width: 50%;
                            height: 50%;
                            position: absolute;
                            top: 300px;
                            right: 0;
                            padding: 0 50px;
                        }
                    }
                }
            }
        }
    }
}


//notice
.notice {
    position: relative;

    .ntcBox {
        width: 100%;
        height: 70%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }
    .ntc{
        width: 90%;
        height: 100%;
        margin-left: 5%;

        a{
            width: 100%;
            height: 55px;
            display: block;
            border-bottom: 1px solid #ccc;
            &:first-child{
                border-top: 1px solid #ccc;
            }
            &:hover p{
                color:$fcolor04;
            }
            p{
                color: #fff;
                font-size: 18px;
                text-indent: 40px;
                line-height: 55px;
          
            }
            
            }
        }
    }
    .ntcWrap {
        width: 100%;height: 40%;
        position: relative;
        margin-bottom: 50px;

        .iBox {
            display: flex;
            justify-content: space-around;
            align-items: center;
                .nIcon{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    img {
                        width: 150px;
                        height: 230px;
                        object-fit: contain;
                    }
                }

        }


}







@media (max-width: 767px) {
    #fullpage .ticket .tk .tkrow {
        display: none;
    }

    #fullpage .ticket .tk .mrow {
        display: block;
    }
}


@media (max-width: 575px) {
    #fullpage .home .mainBg {
        display: none;
    }

    #fullpage .home .subBg {
        width: 100%;
        height: 100%;
        display: block;
        background-image: url(../images/poster.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;

    }

    #fullpage .section .hTop {
        display: block;
    }

    #fullpage .ticket .tk .tkrow {
        display: none;
    }

    #fullpage .ticket .tk .mrow {
        display: block;
    }

    .program .prg .swiper .swiper-wrapper .swiper-slide {

        &:first-child {
            .imgBox {
                img {
                    display: none;
                }
            }

            .mImg {
                img {
                    display: block;
                    background: #fff;

                }
            }
        }
    }

    .program .prg .swiper .swiper-wrapper .swiper-slide .slideItem {
        margin-top: 50px;
        width: 100%;
        height: 500px;
    }

    .program .prg .swiper .swiper-wrapper .swiper-slide .slideItem .mImg,
    .program .prg .swiper .swiper-wrapper .swiper-slide .slideItem .imgBox {
        width: 100%;
        height: 250px;
        position: absolute;
        top: 0;
        left: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .program .prg .swiper .swiper-wrapper .swiper-slide .slideItem .txtBox {
        width: 90%;
        height: 200px;
        position: absolute;
        top: 300px;
        left: 25px;
        padding: 0;

        p {
            font-size: 14px;
        }

    }
    .ntcBox{

        .ntc {
            width: 100%;
            a{
                width: 90%;
                p{
                    width: 90%;
                    font-size: 14px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }
        }
    }
    
}