<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The 19th Jarasum Jazz Festival</title>
    <link rel="stylesheet" href="css/reset.css">

    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.1/css/bootstrap.min.css"
        integrity="sha512-siwe/oXMhSjGCwLn+scraPOWrJxHlUgMBMZXdPe2Tnk3I0x3ESCoLz7WZ5NTH6SZrywMY+PB1cjyqJ5jAluCOg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.2/swiper-bundle.min.css"
        integrity="sha512-+i36IwpzfYLmCNRFtEnpEAie8PEyhO5GuK7W2Y0eDMVwT1pesCB86xuQlc5v1lfb69N/6hejJEW3EWeVkExTlQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="js/jquery.fullPage.js"></script>
    <script src="js/data.js"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm " id="menu">
            <div class="navWrap">
                <button class="btn navbar-toggler d-lg-none bg-light" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="nav collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav me-md-auto mt-2 mt-lg-0">
                        <li data-menuanchor="home"><a class="" href="#home">HOME</a></li>
                        <li data-menuanchor="lineup"><a class="" href="#lineup">LINEUP</a></li>
                        <li data-menuanchor="ticket"><a class="" href="#ticket">TICKET</a></li>
                        <li data-menuanchor="program"><a class="" href="#program">PROGRAM</a></li>
                        <li data-menuanchor="notice"><a class="" href="#notice">NOTICE</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div id="fullpage">
        <div class="section home" data-anchor="home">
            <div class="mainBg">
                <img class="bg01" src="images/main_bg_top.jpg" alt="bgT">
                <img class="sun" src="images/main_bg_sun.png" alt="">
                <img class="bg02" src="images/main_bg_btm.png" alt="bgB">
                <img class="p02" src="images/player02.png" alt="p02">
                <img class="p01" src="images/player01.png" alt="p01">
                <div class="logoBox">
                    <img class="logo01 mb-4" src="images/logo01.png" alt="logo01">
                    <img class="logo02 mb-4" src="images/logo02.png" alt="logo02">
                    <img class="logo03 mb-4" src="images/logo03.png" alt="logo03">
                </div>
            </div>
            <div class="subBg">

            </div>

        </div>
        <div class="section lineup" data-anchor="lineup">
            <div class="hTop text-white pt-5 ms-3 d-flex d-md-none gap-2">
                <h1 class="">LINEUP</h1>
                <span class="ts-5 mt-2">라인업</span>
            </div>
            <div id="app" class="">
                <div class="pList">
                    <div class="tabWrap ">
                        <ul class="tab ">
                            <li v-bind:class="{active:tab==1}" @click="tab=1">시월일일<span>10/01</span></li>
                            <li v-bind:class="{active:tab==2}" @click="tab=2">시월이일<span>10/02</span></li>
                            <li v-bind:class="{active:tab==3}" @click="tab=3">시월삼일<span>10/03</span></li>
                        </ul>
                    </div>
                    <div class="swiper listSwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide item" v-for="(item,i) in pList01" v-if="tab == 1">
                                <div class="pPhoto"
                                    v-bind:style="{'background-image':`url(images/player_pic/${item.img})`}"></div>
                                <div class="pName">
                                    <h4>{{item.ko}}</h4>
                                    <p>{{item.en}}</p>
                                </div>
                            </div>
                            <div class="swiper-slide item" v-for="(item,i) in pList02" v-if="tab == 2">
                                <div class="pPhoto"
                                    v-bind:style="{'background-image':`url(images/player_pic/${item.img}`}"></div>
                                <div class="pName">
                                    <h4>{{item.ko}}</h4>
                                    <p>{{item.en}}</p>
                                </div>
                            </div>
                            <div class="swiper-slide item" v-for="(item,i) in pList03" v-if="tab == 3">
                                <div class="pPhoto"
                                    v-bind:style="{'background-image':`url(images/player_pic/${item.img}`}"></div>
                                <div class="pName">
                                    <h4>{{item.ko}}</h4>
                                    <p>{{item.en}}</p>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="section ticket">
            <div class="hTop text-white pt-5 ms-3 d-flex d-md-none gap-2">
                <h1 class="">TICKET</h1>
                <span class="ts-5 mt-2">티켓</span>
            </div>
            <div class="tk">
                <div class="row mrow px-5">
                    <div class="tkhead">
                        <p class="text-white mt-5 text-center fs-5 ">예매 기간 : 2022년 8월 2일 (화) - 9월 30일 (금)</p>
                    </div>
                    <div class="btn text-black rounded-5 fw-bold">
                        <span>BUY TICKET 티켓 구매하기</span>
                    </div>
                    <div class="mtk01">
                        <div class="row price text-white my-3 border-bottom">
                            <h4 class="col-5">일반</h4>
                            <div class="col-7">
                                <div>
                                    <p>3일권 120,000원 [1종]<br><span>10월 1일 - 3일</span></p>

                                </div>
                                <div>
                                    <p>2일권 100,000원 [2종]
                                        <br>
                                        <span>10월 1일 - 2일 /</span>
                                        <span>10월 2일 - 3일 </span>
                                    </p>
                                </div>
                                <div>
                                    <p>1일권 60,000원 [3종]<br><span>10월 1일, 2일, 3일</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="row price text-white my-3 border-bottom">
                            <h4 class="col-5">청소년</h4>
                            <div class="col-7">
                                <div>
                                    <p>1일권 40,000원 [3종]<br><span>10월 1일, 2일, 3일</span></p>
                                    <p>** 청소년 티켓은 본인 현장수령만 가능하며,
                                        청소년증 및 학생증 미지참 시 차액 지불</p>
                                </div>
                            </div>
                        </div>
                        <div class="row price text-white my-3 border-bottom">
                            <h4 class="col-5">장애인, <br>65세 이상</h4>
                            <div class="col-7">
                                <div>
                                    <p>1일권 30,000원 [3종]<br><span>10월 1일, 2일, 3일</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="row price text-white mt-3 border-bottom">
                            <h4 class="col-5 fs-5">반려견 <br>동반좌석</h4>
                            <div class="col-7">
                                <div>
                                    <p>한정 판매 : 100석<br> 구매 가능 수량 : 1인 2매</p>
                                </div>
                            </div>
                        </div>
                        <div class="row price text-white mt-3 border-bottom">
                            <h4 class="col-5">NFT PASS</h4>
                            <div class="col-7">
                                <div>
                                    <p> 60,000원 상당의 이더리움(ETH)</p>
                                    <p> 각 일자별 최대 600개까지 한정</p>
                                </div>
                            </div>
                        </div>
                        <div class="row price text-white mt-3 border-bottom">
                            <h4 class="col-5">캠핑 패키지</h4>
                            <div class="col-7">
                                <div>
                                    <p>오토 캠핑162,000원 부터 </p>
                                    <p>캐라반 사이트 177,000원 부터 </p>
                                    <p>캐라반 292,000원 부터 </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row tkrow">
                    <div class="col-md-3 tSec t01">
                        <div class="tkImg">
                            <img src="images/tkicon01.png" alt="tk01">
                        </div>
                        <div class="tTop text-center">
                            <h3 class="en">GENERAL TICKET</h3>
                            <h3 class="kr">일반 예매</h3>
                        </div>
                        <div class="tBody px-5">
                            <div class="tbWrap">
                                <div class="tDate text-white gap-1">
                                    <span>예매기간 :</span><span> 2022년 8월 2일 (화) - 9월 30일 (금)</span>
                                </div>
                                <div class="tt text-white mb-4">
                                    <span>예매처 :</span><img src="images/nft.png" alt="nft"><span> (1522-5149)</span>
                                </div>
                                <div class="row price text-white mb-3">
                                    <h4 class="col-md-3">일반</h4>
                                    <div class="col-md-9">
                                        <div>
                                            <p>3일권 120,000원 [1종]<br><span>10월 1일 - 3일</span></p>

                                        </div>
                                        <div>
                                            <p>2일권 100,000원 [2종]
                                                <br>
                                                <span>10월 1일 - 2일 /</span>
                                                <span>10월 2일 - 3일 </span>
                                            </p>
                                        </div>
                                        <div>
                                            <p>1일권 60,000원 [3종]<br><span>10월 1일, 2일, 3일</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row price text-white mb-3">
                                    <h4 class="col-md-3">청소년</h4>
                                    <div class="col-md-9">
                                        <div>
                                            <p>1일권 40,000원 [3종]<br><span>10월 1일, 2일, 3일</span></p>
                                            <p>** 청소년 티켓은 본인 현장수령만 가능하며,
                                                청소년증 및 학생증 미지참 시 차액 지불</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row price text-white">
                                    <h4 class="col-md-3">장애인, <br>65세 이상</h4>
                                    <div class="col-md-9">
                                        <div>
                                            <p>1일권 30,000원 [3종]<br><span>10월 1일, 2일, 3일</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn text-white">
                            <span>BUY TICKET 티켓 구매하기</span>
                        </div>
                    </div>
                    <div class="col-md-3 tSec t02">
                        <div class="tkImg ">
                            <img src="images/tkpet01.png" alt="tk03">
                        </div>
                        <div class="tTop text-center">
                            <h3 class="en">Pet-friendly Zone</h3>
                            <h3 class="kr">반려견 동반좌석</h3>
                        </div>
                        <div class="tBody px-5">
                            <div class="tbWrap">
                                <div class="tDate text-white gap-1">
                                    <span>티켓 오픈 :</span><span>2022년 8월 2일 (화) 오후 2시</span>
                                </div>
                                <div class="tt text-white mb-4">
                                    <span>예매처 :</span><img src="images/nft.png" alt="nft"><span> (1522-5149)</span>
                                </div>
                                <div class="price text-white mb-4">
                                    <div>
                                        <p>한정 판매 :<span> 100석</span></p>
                                        <p>구매 가능 수량 :<span> 1인 2매</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn text-white">
                            <span>BUY TICKET 티켓 구매하기</span>
                        </div>
                    </div>
                    <div class="col-md-3 tSec t03">
                        <div class="tkImg ">
                            <img src="images/tkicon02.png" alt="tk02">
                        </div>
                        <div class="tTop text-center">
                            <h3 class="en">NFT PASS</h3>
                            <h3 class="kr">엔에프티 패스</h3>
                        </div>
                        <div class="tBody px-5">
                            <div class="tbWrap">
                                <div class="tDate text-white gap-1">
                                    <span>티켓 오픈 : </span><span>2022년 9월 5일 (월) 오후 2시</span>
                                </div>
                                <div class="tt text-white mb-4">
                                    <span>예매처 :</span> <img src="images/korbit.png" alt=""><span>(1661-9707)</span>
                                </div>
                                <div class="price text-white mb-4">
                                    <div>
                                        <p>티켓 금액 :<span> 60,000원 상당의 이더리움(ETH)</span></p>
                                        <p>한정 판매 :<span> 각 일자별 최대 600개까지</span></p>
                                        <p>구매 혜택 :<br><span> 전원 지급 럭키드로우 및 추가 NFT 에어드랍</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn text-white">
                            <span>BUY TICKET 티켓 구매하기</span>
                        </div>
                    </div>

                    <div class="col-md-3 tSec t04">
                        <div class="tkImg ">
                            <img src="images/tkicon04.png" alt="tk04">
                        </div>
                        <div class="tTop text-center">
                            <h3 class="en">CAMPING PACKAGE</h3>
                            <h3 class="kr">캠핑 패키지</h3>
                        </div>
                        <div class="tBody px-5">
                            <div class="tbWrap">
                                <div class="tDate text-white gap-1">
                                    <span>예매기간 :</span><span> 2022년 8월 2일 (화) - 9월 30일 (금)</span>
                                </div>
                                <div class="tt text-white mb-4">
                                    <span>예매처 :</span><img src="images/nft.png" alt="nft"><span> (1522-5149)</span>
                                </div>
                                <div class="row price text-white">
                                    <h4 class="col-md-3">패키지</h4>
                                    <div class="col-md-9">
                                        <div>
                                            <p>오토 캠핑<br><span>162,000원 부터 </span></p>
                                            <p>캐라반 사이트<br><span>177,000원 부터 </span></p>
                                            <p>캐라반<br><span>292,000원 부터 </span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn text-white">
                            <span>BUY TICKET 티켓 구매하기</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="section program" data-anchor="program">
            <div class="hTop text-white pt-5 ms-3 d-flex d-md-none gap-2">
                <h1 class="">PROGRAM</h1>
                <span class="ts-5 mt-2">프로그램</span>
            </div>
            <div class="prg">
                <!-- slide -->
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="slideItem">
                                <div class="imgBox"><img src="images/program0101.png" alt=""></div>
                                <div class="mImg text-white">123456<img src="images/program0101_m.png" alt=""></div>
                                <div class="txtBox">
                                    <img src="images/txts.png" alt="">
                                    <h3>SPAIN FOCUS</h3>
                                    <span>스페인 포커스</span>
                                    <p>2010년부터 이어온 자라섬재즈페스티벌의 시그니쳐 국제교류 프로그램 '포커스 국가'의 2022년 주빈국은 스페인이다.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slideItem">
                                <div class="imgBox"><img src="images/program0202.png" alt=""></div>
                                <div class="txtBox">
                                    <img src="images/txts.png" alt="">
                                    <h3>JARASUM BEYOND</h3>
                                    <span>자라섬비욘드</span>
                                    <p>
                                        <자라섬비욘드>는 자라섬재즈페스티벌의 대표적인 브랜드 공연으로,

                                            매년 새로운 방향과 아티스트 라인업으로 페스티벌 무대에서 첫선을 보이고 있다.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slideItem">
                                <div class="imgBox"><img src="images/program0303.png" alt=""></div>
                                <div class="txtBox">
                                    <img src="images/txts.png" alt="">
                                    <h3>JARASUM JAZZ UNIVERSE</h3>
                                    <span>자라섬재즈유니버스</span>
                                    <p>매년 문화예술계의 흐름에 맞는 콘텐츠 기획으로 주목받고 있는 자라섬재즈는 올해 자라섬재즈 만의 메타버스를 선보인다.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>
        </div>
        <div class="section notice pt-5" data-anchor="notice">
            <div class="hTop text-white pt-5 ms-3 d-flex d-md-none gap-2">
                <h1 class="">NOTICE</h1>
                <span class="ts-5 mt-2">공지사항</span>
            </div>
            <div class="ntcBox">
                <div class="guide">
                    <div class="iBox">
                        <div class="nIcon n01">
                            <img src="images/notice_icon01.png" alt="n01">
                            <button>교통</button>
                        </div>
                        <div class="nIcon n02">
                            <img src="images/notice_icon02.png" alt="n02">
                            <button>캠핑</button>
                        </div>
                        <div class="nIcon n03">
                            <img src="images/notice_icon03.png" alt="n03">
                            <button>티켓&밴드</button>
                        </div>
                    </div>
                </div>
                <div class="ntc">
                    <a href="#" class="">
                        <p>2022년 제19회 자라섬재즈페스티벌 주차 안내</p>
                    </a>
                    <a href="#">
                        <p>2022년 제19회 자라섬재즈페스티벌 (음식/음료·주류/객석/셔틀버스) FAQ</p>
                    </a>
                    <a href="#">
                        <p>2022년 제19회 자라섬재즈페스티벌 가평 읍내 무료 셔틀버스 운행</p>
                    </a>
                    <a href="#">
                        <p>2022년 제19회 자라섬재즈페스티벌 부스 위치 안내</p>
                    </a>
                    <a href="#">
                        <p>2022년 제19회 자라섬재즈페스티벌 페스티벌 맵 안내</p>
                    </a>
                    <a href="#">
                        <p>2022년 제19회 자라섬재즈페스티벌 투어비스 셔틀버스(서울↔자라섬) 예약 안내</p>
                    </a>
                    <a href="#">
                        <p>2022년 제19회 자라섬재즈페스티벌 취재 안내</p>
                    </a>
                </div>

            </div>
        </div>

    </div>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"
        integrity="sha512-6UofPqm0QupIL0kzS/UIzekR73/luZdC6i/kXDbWnLOJoqwklBK6519iUnShaYceJ0y4FaiPtX/hRnV/X/xlUQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.1/js/bootstrap.min.js"
        integrity="sha512-vyRAVI0IEm6LI/fVSv/Wq/d0KUfrg3hJq2Qz5FlfER69sf3ZHlOrsLriNm49FxnpUGmhx+TaJKwJ+ByTLKT+Yg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.2/swiper-bundle.min.js"
        integrity="sha512-dPYTaB+Ip4gAl9vo6U0jSmI8v1AZKjPKH367mfo7pR5gLf1IKpjm3bIXIwm+MmYWEf0eiBEWSBqE+MdKUx0jfg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="js/script.js"></script>

    <script type="module">
        import { pList01, pList02, pList03 } from "./js/data.js"
        const webApp = {
            data() {
                return {
                    tab: 1,
                    pList01: pList01,
                    pList02: pList02,
                    pList03: pList03
                }
            }
        }

        Vue.createApp(webApp).mount("#app")

        var swiper = new Swiper(".listSwiper", {
            effect: "coverflow",
            grabCursor: true,
            loop: true,
            autoplay: {
                delay: 2000,
                disableOnInteraction: false,
            },
            centeredSlides: true,
            slidesPerView: "auto",
            coverflowEffect: {
                rotate: 40,
                stretch: 0,
                depth: 100,
                modifier: 1,
                slideShadows: false,
            },
            observer: true,
            observeParents: true,
        });
    </script>


</body>

</html>