@charset "utf-8";
body{font-family: 'Nanum Gothic', sans-serif;}

/* header */
.headerTopWrap{border-bottom: 1px solid #dcdcdc;margin-bottom: 16px;
    min-width: 980px;}
.headerTop{width: 980px;margin: 0 auto; }
.topmenu ul{float: right;}
.topmenu li{float: left;position: relative;}
.topmenu li:after{content:"";display: block;width: 1px;height: 11px;
    background-color: #dcdcdc;
    position: absolute;top: 7px;right: 0;
    }
.topmenu li:last-child:after{display: none}
.topmenu li a{display: block;padding: 7px 10px;font-size: 12px;line-height: 12px;}

#headerWrap h1{margin: 0 auto;width: 151px;margin-bottom: 16px;}
#headerWrap h1 a{color: #333;}

#headerWrap .toggle{width: 48px;height: 48px;
    border: 1px solid #dcdcdc;
    position: absolute;
    left: calc( 50% + 442px );top: 38px;
    cursor: pointer;
    }
.toggle div{width: 22px;height: 2px;background-color: #666666;
    position: absolute;left: calc( 50% - 10px );
    top:calc( 50% - 1px );
}
.toggle div:first-child{top:calc( 50% - 9px )}
.toggle div:last-child{top:calc( 50% + 7px )}



.mainMenuWrap{background-color: #1D5DA4;}
.mainMenuWrap .mainMenu{width: 980px;margin: 0 auto}
.mainMenuWrap .mainMenu li{
    float: left;width: calc( 100% / 6 );
    border-left: 1px solid #336DAC;
}
.mainMenuWrap .mainMenu li:last-child{border-right: 1px solid #336DAC;}

.mainMenuWrap .mainMenu li a{
    display: block;line-height:45px;
    color:#EAEEF4;text-align: center;
}
/* .mainMenuWrap .mainMenu li a:hover{background: #336DAC;} */

/* visual */
.visualWrap{
    /* background-image: url(../images/main_bg01.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-color: #213c6b; */
    background: #213c6b url(../images/main_bg01.jpg) no-repeat center
    /* 위 내용을 한줄로 표현할 수 있다 */
}




.visualWrap .visual{width: 980px;height: 400px;margin: 0 auto;position: relative;
    overflow: hidden;}
.visualWrap .visual .txt{
    position: absolute;top: 100px;
    color:#EFF0EE;font-size: 20px;}
.visualWrap .visual h3{line-height: 80px;font-size: 76.6px;letter-spacing: 0.34em;    
    margin-bottom: 10px; }
.visualWrap .visual img{position: absolute;right: 0;}


.secWrap{background-color:#eeeeee ;margin-bottom:25px;}
.secWrap .section{width: 980px;;margin: 0 auto;}
.secWrap .section li{width: calc( 980px / 5 );height: 196px;float: left;
    padding: 20px 5px;}
.secWrap .section li img{display: block;margin: 0 auto;margin-bottom: 10px;}
.secWrap .section li h4{font-size: 19px;letter-spacing : -7.5%; color: white;text-align: center;margin-bottom: 8px;}
.secWrap .section li p{font-size: 14px;letter-spacing : -5.5%; color: white;text-align: center;}
.secWrap .section .sec01{background-color: #7C99B9;}
.secWrap .section .sec02{background-color: #4F74A1;}
.secWrap .section .sec03{background-color: #4B8CE0;}
.secWrap .section .sec04{background-color: #3DB5F2;}
.secWrap .section .sec05{background-color: #95C8FF;}

.subMenu_1st{width: 980px;height: 285px;margin: 0 auto;}
.subMenu_1st ul{ margin-bottom: 20px;}
.subMenu_1st ul li{
    float: left; width: calc( ( 100% - 50px ) / 3 ); 
    margin-right: 25px;}
.subMenu_1st ul li:last-child{margin-right: 0;}    
.subMenu_1st ul li img{width: 100%;}
.subMenu_1st .txtbox{
    border: 1px solid #DDDDDD;border-top: none;
    padding: 20px 10px;}
.subMenu_1st ul li h5{font-size: 18px;margin-bottom: 10px;}
.subMenu_1st ul li p{font-size: 13px;}



